body {
  padding: 10px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 25px;
  background-color: hsl(205, 35%, 93%);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%231f7693' fill-opacity='0.08' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.title {
  margin: 0px auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 100%;
  font-size: 28px;
  color: hsl(195, 95%, 19%);
  letter-spacing: 0.07rem;
  text-shadow: 0 0 3px hsla(195, 95%, 20%, 0.2);
}

.card {
  max-width: 250px;
  padding: 25px 50px;
  margin: 20px 35px;
  text-align: center;
  color: hsl(41, 15%, 28%);
  border-radius: 10px;
  background-color: hsl(60, 1%, 94%);
  box-shadow: 0 0 5px 0px hsla(0, 0%, 0%, 0.2);
}

.card:hover {
  box-shadow: 0 0 15px 0px hsla(15, 50%, 60%, 0.85);
}

.photo {
  max-width: 150px;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 hsl(60, 84%, 74%), 0 1px 1px hsla(0, 0%, 0%, 0.2);
}

.name {
  margin: 15px auto 0;
  color: hsl(195, 75%, 25%);
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
}
